libs/*
*.pyc
run-tests.log
*.diff
*.out
*.exp

tests/*.php
tests/*.log
tests/*.out
tests/*.diff
tests/*.exp

tests/*/*.php
tests/*/*.log
tests/*/*.out
tests/*/*.diff
tests/*/*.exp

tests/*/*/*.php
tests/*/*/*.log
tests/*/*/*.out
tests/*/*/*.diff
tests/*/*/*.exp
